@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  color: black;
}

